tensorflow       (pip install tensorflow)
opencv-contrib   (pip install opencv-contrib-python) 
os               (pip install os-sys)
random           (pip install random)
matplotlib       (pip install matplotlib)
numpy            (pip install numpy)
jupyter

